bin/
obj
node_modules/
.vs/
TestResults/
src/CafeManagement/bin/Debug/net8.0/CafeManagement.dll
src/CafeManagement/bin/Debug/net8.0/CafeManagement.exe
src/CafeManagement/bin/Debug/net8.0/CafeManagement.pdb
src/CafeManagement/bin/Debug/net8.0/CafeManagement.staticwebassets.endpoints.json
src/CafeManagement/obj/Debug/net8.0/apphost.exe
src/CafeManagement/obj/Debug/net8.0/CafeManagement.AssemblyInfo.cs
src/CafeManagement/obj/Debug/net8.0/CafeManagement.AssemblyInfoInputs.cache
src/CafeManagement/obj/Debug/net8.0/CafeManagement.dll
src/CafeManagement/obj/Debug/net8.0/CafeManagement.pdb
src/CafeManagement/obj/Debug/net8.0/CafeManagement.sourcelink.json
src/CafeManagement/obj/Debug/net8.0/rjimswa.dswa.cache.json
src/CafeManagement/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
src/CafeManagement/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
src/CafeManagement/obj/Debug/net8.0/rpswa.dswa.cache.json
src/CafeManagement/obj/Debug/net8.0/staticwebassets.build.endpoints.json
src/CafeManagement/obj/Debug/net8.0/staticwebassets.build.json
src/CafeManagement/obj/Debug/net8.0/staticwebassets.build.json.cache
src/CafeManagement/obj/Debug/net8.0/ref/CafeManagement.dll
src/CafeManagement/obj/Debug/net8.0/refint/CafeManagement.dll
